<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119866869948-23574p8vpp6p38408stk03mf225rq0mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119866869948-23574p8vpp6p38408stk03mf225rq0mq</string>
	<key>API_KEY</key>
	<string>AIzaSyBPERGuS7dd2mBsv36wXs14MbRqFQiTg80</string>
	<key>GCM_SENDER_ID</key>
	<string>119866869948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyanyehya.Sportastic</string>
	<key>PROJECT_ID</key>
	<string>sportastic-3c121</string>
	<key>STORAGE_BUCKET</key>
	<string>sportastic-3c121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119866869948:ios:e2667d2018846150f2a8b9</string>
</dict>
</plist>